In [1]:
x = 'hello world'

In [2]:
x

'hello world'

In [3]:
x.upper()

'HELLO WORLD'

In [4]:
x

'hello world'

In [5]:
x = x.upper()

In [6]:
x

'HELLO WORLD'

In [7]:
x.lower()

'hello world'

In [8]:
x,split()

NameError: name 'split' is not defined

In [ ]:
x.split()

In [ ]:
x = 'Hi this is a string'

In [ ]:
x.split()

In [ ]:
x.split(i)

In [ ]:
x

In [ ]:
x.split("i")

In [ ]:
'{} {}'.format('one', 'two')

In [ ]:
'%s %s' % ('one', 'two')

In [ ]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

In [ ]:
print('The {q} {b} {f}'.format(f = 'fox', b = 'brown', q = 'quick'))

In [ ]:
result = 100/777

In [ ]:
result = 104.12345

In [ ]:
print('The result was {r:1.3f}'.format(r=result))

In [ ]:
name = 'Matt'

In [ ]:
print(f"Hellom, his name is {name}")

In [ ]:
name = 'Sam'
age = 3

In [ ]:
print(f'{name} is {age} years old')

In [ ]:
my_list = [1,2,3]

In [ ]:
mylist = ['one','two','three']

In [ ]:
mylist[0]

In [ ]:
anotherlist = ['four','five']

In [ ]:
mylist + anotherlist

In [ ]:
mylist[0] = "NEw"

In [ ]:
mylist

In [ ]:
mylist.append('six')

In [ ]:
mylist

In [ ]:
mylist.pop(0)

In [ ]:
newlist = [4,2,1,6,[7,8]]

In [ ]:
newlist[-1][1]

In [ ]:
newlist[-1].reverse()

In [ ]:
newlist.reverse()

In [ ]:
newlist[-1]

In [ ]:
mydictionary = {'key1':'value1','key2':'value2'}

In [ ]:
mydictionary

In [ ]:
mydictionary['key1']

In [ ]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.8}

In [ ]:
prices_lookup['apple']

In [11]:
t = (1,2,3)

In [10]:
mylist = [1,2,3]

In [12]:
type(t)

tuple

In [13]:
len(t)

3

In [14]:
t[-1]

3

In [15]:
t = ('a','a','b')

In [16]:
t.count('a')

2

In [17]:
t.index('b')

2

In [18]:
myset = set()

In [19]:
myset.add(1)

In [20]:
myset

{1}

In [21]:
myset.add(2)

In [22]:
myset

{1, 2}

In [23]:
myset.add(2)

In [24]:
myset

{1, 2}

In [25]:
mylist = [1,1,1,1,2,2,2,2,2,3,32,3,3]

In [28]:
myset = set(mylist)

In [29]:
myset

{1, 2, 3, 32}

In [30]:
%%writefile myfile.txt 
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [31]:
myfile = open('myfile.txt')

In [32]:
pwd

'/Users/shan/Desktop/Projects/Python3'

In [33]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [46]:
myfile.seek(0)

0

In [39]:
contents = myfile.read()

In [40]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [47]:
myfile.close()

In [49]:
with open('myfile.txt', mode = 'a') as myfile:
    contents = myfile.read()

In [50]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [51]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [52]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [53]:
with open('my_new_file.txt', mode='a') as f:
    f.write('FOUR ON FOURTH')

In [54]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [55]:
with open('asdf.txt', mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [56]:
with open('asdf.txt', mode='r') as f:
    print(f.read())

I CREATED THIS FILE!